@charset "UTF-8";
/* 文字コードの指定 */
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700&display=swap");
* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'M PLUS Rounded 1c', Meiryo, sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  color: #303030;
  background-color: #fff; }
  @media screen and (min-width: 48em), print {
    body {
      min-width: 110rem;
      font-size: 1.8rem;
      text-align: left; } }

a, p, h2, h3 {
  font-weight: 400; }

a {
  color: #303030;
  text-decoration: none; }

p {
  font-size: 1.4rem;
  line-height: 2rem;
  margin: 0; }
  @media screen and (min-width: 48em), print {
    p {
      font-size: 1.7rem;
      line-height: 2.6rem; } }

h1 {
  color: #2c7a7a;
  font-size: 2.2rem;
  margin-top: 0; }
  @media screen and (min-width: 48em), print {
    h1 {
      font-size: 3rem; } }

h2 {
  color: #2c7a7a;
  font-size: 2rem; }
  @media screen and (min-width: 48em), print {
    h2 {
      font-size: 2.4rem; } }

h3 {
  color: #2c7a7a;
  font-size: 2rem;
  margin: 0; }

img {
  max-width: 100%;
  vertical-align: bottom; }

ul {
  list-style: none; }

strong {
  font-weight: 400; }

.wrap {
  margin: 0 1.4rem; }

.inner {
  padding: 0; }

main > .inner {
  margin: 0 15px 30px;
  line-height: 1.6; }

section {
  margin-bottom: 5rem; }

main section {
  margin: 0 auto 4rem;
  padding: 0; }

main section .inner + section {
  margin: 40px 0 40px;
  padding: 0; }

main section section .inner + section {
  margin: 35px 0 40px;
  padding: 0; }

@media screen and (min-width: 48em), print {
  .wrap {
    width: 110rem;
    margin: 0 auto; }

  main section .inner + section, main section + section {
    margin: 60px 0 40px;
    padding: 0; }

  main section section .inner + section, main section section + section {
    margin: 50px 0 40px; }

  main section section section .inner + section, main section section section + section {
    margin: 40px 0 40px; }

  .inner {
    padding: 0; } }
.header-top {
  height: 1.2rem;
  background-color: #2acfce; }
  @media screen and (min-width: 48em), print {
    .header-top {
      height: 3rem; } }

.logo {
  width: 23rem; }
  @media screen and (min-width: 48em), print {
    .logo {
      width: 100%; } }

.header-top-text {
  display: none;
  color: #fff; }
  @media screen and (min-width: 48em), print {
    .header-top-text {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      width: 110rem;
      line-height: 3rem; } }

header .wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.2rem; }
  @media screen and (min-width: 48em), print {
    header .wrap {
      align-items: flex-start;
      padding-top: 2rem; } }

.header-tel {
  display: none; }
  @media screen and (min-width: 48em), print {
    .header-tel {
      text-align: right;
      display: block;
      width: 100%; } }

.header-tel span {
  color: #2c7a7a;
  font-size: 2.4rem;
  font-weight: 500; }
  @media screen and (min-width: 48em), print {
    .header-tel span {
      font-size: 3.6rem; } }

.header-tel p {
  margin: 0;
  line-height: 3rem; }

.sp-btn {
  display: flex; }
  .sp-btn a {
    padding-left: 0.6rem; }
  .sp-btn img {
    width: 4.4rem; }
  @media screen and (min-width: 48em), print {
    .sp-btn {
      display: none; } }

.pc-nav {
  display: none; }
  @media screen and (min-width: 48em), print {
    .pc-nav {
      display: block;
      position: absolute;
      width: 100%;
      height: 5.8rem;
      font-size: 2rem;
      font-weight: 500;
      line-height: 2.3rem;
      margin-top: 1rem; } }

.pc-nav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  text-align: center;
  width: 110rem;
  margin: 0 auto;
  padding: 0; }
  .pc-nav-list li {
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.2s;
    border-left: 0.1rem solid #f8aeed; }
    .pc-nav-list li a {
      display: inline-flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      height: 5.8rem; }
    .pc-nav-list li:hover {
      opacity: 0.5; }

.pc-nav-list li:last-child {
  border-right: 0.1rem solid #2c7a7a; }

.sp-nav {
  top: 8rem;
  width: 100%;
  font-size: 2.4rem;
  text-align: center;
  margin-top: 1.4rem;
  background-color: #2acfce; }
  @media screen and (min-width: 48em), print {
    .sp-nav {
      display: none; } }

.sp-nav-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  font-size: 1.6rem; }
  .sp-nav-list li {
    width: 50%;
    border: 1px solid #fff; }
  .sp-nav-list a {
    display: inline-block;
    width: 100%;
    height: auto;
    padding: 1rem 0;
    color: #fff; }

.cover {
  position: relative;
  background-color: #e3f8f8; }
  @media screen and (min-width: 48em), print {
    .cover {
      margin-top: 8rem; } }

.cover .wrap {
  position: relative;
  margin: 0 auto; }

.cover-description {
  position: absolute;
  color: #2c7a7a;
  font-size: 1.6rem;
  line-height: 3rem;
  top: 6%;
  left: 4%; }
  @media screen and (min-width: 48em), print {
    .cover-description {
      font-size: 3rem;
      font-weight: 400;
      line-height: 7rem;
      top: 12%;
      left: 6%; } }

.ma {
  margin-top: 2.4rem; }
  @media screen and (min-width: 48em), print {
    .ma {
      display: flex;
      justify-content: space-between;
      margin-top: 5rem; } }

main {
  width: 100%; }
  @media screen and (min-width: 48em), print {
    main {
      width: 72%; } }

.section-title h1 {
  font-weight: 400;
  margin-bottom: 1rem; }

.section-title {
  border-bottom: 3px solid #f8aeed; }

.info dl {
  overflow: auto;
  background: #e3f8f8;
  max-height: 20rem;
  padding: 1.8rem 2rem; }
  @media screen and (min-width: 48em), print {
    .info dl {
      max-height: 25rem;
      padding: 2.5rem; } }

.info dt {
  color: #2c7a7a;
  font-size: 1.6rem; }
  @media screen and (min-width: 48em), print {
    .info dt {
      font-size: 1.8rem; } }

.info dt .info-date {
  font-size: 1.2rem;
  color: #757575;
  display: block; }

.info dd {
  margin: 1rem 0 4rem; }

.feature h2 {
  border-bottom: 1px solid #f8aeed; }

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 2rem;
  text-align: center; }
  @media screen and (min-width: 48em), print {
    table {
      margin-top: 3rem; } }

table td, th {
  border: 1px solid #303030;
  padding: 0.2rem; }
  @media screen and (min-width: 48em), print {
    table td, th {
      padding: 1rem; } }

table th {
  font-weight: 400; }

table td {
  width: 5rem; }
  @media screen and (min-width: 48em), print {
    table td {
      width: 8rem; } }

table .column1 {
  background-color: #e3f8f8; }

.time-text {
  padding-top: 1rem; }
  @media screen and (min-width: 48em), print {
    .time-text {
      display: flex;
      justify-content: space-between; } }

.google-map {
  margin-top: 2rem;
  text-align: center; }
  @media screen and (min-width: 48em), print {
    .google-map {
      margin-top: 3rem; } }
  .google-map p {
    margin-top: 1rem; }

aside {
  display: none; }
  @media screen and (min-width: 48em), print {
    aside {
      display: block;
      width: 24%; } }

.menubox-title {
  border-top: 2px solid #f8aeed;
  border-bottom: 1px solid #f8aeed;
  padding: 1.6rem 0 1.6rem 1.2rem; }

.menubox ul {
  margin: 1rem 0;
  padding: 0; }

.menubox li {
  position: relative;
  margin: 0;
  padding: 1rem 0 1rem 1rem;
  border-bottom: 1px dotted #ddd;
  color: #757575;
  font-size: 1.8rem;
  line-height: 2.4rem;
  cursor: pointer; }

.menubox li:hover {
  color: #2c7a7a; }

.menubox .fa-chevron-right {
  color: #f8aeed;
  padding-right: 0.6rem; }

footer {
  background-color: #fff;
  border-top: 2px solid #f8aeed;
  margin-top: 1rem; }

footer h1 {
  font-weight: 400; }

.footer-wrap {
  padding: 1.6rem 0 1.8rem; }
  @media screen and (min-width: 48em), print {
    .footer-wrap {
      padding: 1.6rem 0;
      display: flex; } }

.footer-text p {
  font-size: 1.4rem; }
  @media screen and (min-width: 48em), print {
    .footer-text p {
      margin-left: 3rem; } }

address {
  background-color: #2acfce;
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  line-height: 2rem; }
  @media screen and (min-width: 48em), print {
    address {
      font-size: 1.4rem; } }

.subpage-cover h1 {
  display: flex;
  width: 100%;
  height: 10rem;
  background: url("https://nnibb03.github.io/sample01/subpage_cover.jpg") top center no-repeat;
  font-weight: 400;
  background-size: cover;
  padding: 3.8rem 1.4rem;
  margin: 0; }
  @media screen and (min-width: 48em), print {
    .subpage-cover h1 {
      height: 13.6rem;
      margin: 8rem 0 5rem;
      padding: 4rem 1rem; } }

.subpage-cover span {
  display: block; }
  @media screen and (min-width: 48em), print {
    .subpage-cover span {
      width: 110rem;
      margin: auto; } }

.sub {
  margin-top: 3rem;
  margin-bottom: 5rem; }
  @media screen and (min-width: 48em), print {
    .sub {
      display: flex;
      justify-content: space-between;
      margin-top: 5rem; } }

.section-title-sub {
  margin-bottom: 2rem; }
  @media screen and (min-width: 48em), print {
    .section-title-sub {
      margin-bottom: 3rem; } }

.gleeting-text {
  margin-bottom: 5rem; }
  @media screen and (min-width: 48em), print {
    .gleeting-text {
      margin-bottom: 0; } }
  .gleeting-text .right {
    display: block;
    float: right; }

.feature-sub {
  padding-bottom: 3rem; }

.feature-sub p {
  padding-bottom: 1rem; }

.map-btn {
  display: inline-block;
  background-color: #2c7a7a;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  font-size: 1.6rem;
  line-height: 5rem;
  margin: 1rem 0;
  padding: 0 1rem;
  box-shadow: 0 6px rgba(0, 65, 65, 0.9); }
  @media screen and (min-width: 48em), print {
    .map-btn {
      width: 24rem;
      height: 5rem;
      font-size: 2rem;
      line-height: 5rem;
      margin: 1rem 0;
      transition: all 0.2s; } }

.map-btn:hover {
  opacity: 0.6; }

.google-map p {
  text-align: left; }

/*# sourceMappingURL=style.css.map */
